/* variables */
:root {
  --font-body: Georgia, "Times New Roman", Times, serif;
  --font-display: Georgia, "Times New Roman", Times, serif;

  --white: hsla(33, 10%, 99%, 1);
  --grey-100: hsla(220, 10%, 93%, 1); /* #D0D3D9 */
  --grey-200: hsla(220, 10%, 83%, 1); /* #D0D3D9 */
  --grey-800: hsla(220, 10%, 44%, 1); /* #D0D3D9 */
  --black: hsla(33, 10%, 13%, 1);
  /* --black: #333; */

  --blue-100: hsla(207, 96%, 83%, 1); /* #0476D9 */
  --blue-200: hsla(207, 96%, 63%, 1); /* #0476D9 */
  --blue-300: hsla(207, 96%, 43%, 1); /* #0476D9 */
  --blue-400: hsla(214, 95%, 38%, 1); /* #0455BF */

  --yellow-100: hsla(44, 93%, 85%, 1); /* #F8C025 */
  --yellow-200: hsla(44, 93%, 55%, 1); /* #F8C025 */
  --yellow-300: hsla(44, 100%, 45%, 1); /* #F8C025 */

  --tan-100: hsla(33, 48%, 90%, 1); /* #D9B991 */
  --tan-200: hsla(33, 48%, 70%, 1); /* #D9B991 */
  --brown-400: #59291E;

  --red-default: rgb(206, 61, 59);

  --gradient: linear-gradient(
    4deg,
    var(--yellow-200) 0%,
    var(--blue-300) 40%,
    var(--tan-200) 74%,
    var(--red-default) 100%
  );

  --size-200: 0.694rem;
  --size-300: 0.833rem;
  --size-400: 1rem;
  --size-500: 1.2rem;
  --size-600: 1.44rem;
  --size-700: 1.728rem;
  --size-800: 2.074rem;
  --size-900: 2.488rem;
  --size-1000: 2.986rem;
}

/* reset */
*,*::before,*::after {box-sizing: border-box;}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd {margin: 0;}ul[role="list"],ol[role="list"]{list-style:none;}html:focus-within{scroll-behavior:smooth;}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5;}a:not([class]){text-decoration-skip-ink:auto;}img,picture{height:auto;max-width:100%;display:block;}input,button,textarea,select{font:inherit;}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto;}*,*::before,*::after{animation-duration:0.01ms!important;animation-iteration-count:1!important;transition-duration:0.01ms!important;scroll-behavior: auto !important;}}

/* styles */
body {
  background-color: var(--white);
  color: var(--black);
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--font-body);
  font-size: 100%; /* 16px */
}
h1, h2, h3, h4, h5, h6 {
  color: var(--brown-400);
  font-family: var(--font-display);
  line-height: 1.3;
  max-width: 65ch;
}
h1 {font-size: clamp(var(--size-900), 5vw, 4rem)}
h2, h2 code {font-size: var(--size-800);}
h3, h3 code {font-size: var(--size-700);}
h4 {font-size: var(--size-600);}
h5 {font-size: var(--size-500);}
small {font-size: var(--size-300);}
.flow > * + * { margin-top: var(--flow-space, 1em);}
blockquote, aside {--flow-space: var(--size-700)}
p, li, aside, li code, p code {line-height: 1.7; max-width: 65ch;}
ul, ol {padding-left: 2.5em;}
li { margin-top: 0.5em; margin-bottom: 0.5em; padding-left: 0.6em;}
li::marker {
  font-size: var(--size-400);
  font-weight: 700;
}
ul:not(.ul-reset) li::marker {content: '■ ';}
p.lead {font-size: var(--size-500); font-weight: 600;}

/* links and buttons */
a:not(.button) {
  color: var(--brown-400);
  border-bottom: 1px solid var(--tan-100);
  box-shadow: var(--tan-100) 0 -2px 0 0 inset;
  text-decoration: none;}
a:hover:not(.button) {
  background-color: var(--tan-100);
  text-decoration: none; }
.a-reset a {
  border: none;
  box-shadow: none;}
.a-reset a:hover { background: none; }
.bg-dark a {
  color: var(--yellow-300);
  border-bottom: 1px solid var(--yellow-100);
  box-shadow: var(--yellow-100) 0 -2px 0 0 inset;}
.bg-dark a:hover {background-color: var(--yellow-100)}
.bg-medium a {
  border-bottom: 1px solid var(--tan-200);
  box-shadow: var(--tan-200) 0 -2px 0 0 inset;}
.bg-medium a:hover {background-color: var(--tan-200);}
a.button {
  /* background: var(--blue-300); */
  /* border: none; */
  border: 4px solid var(--blue-300);
  border-radius: var(--size-400);
  box-shadow: none;
  color: var(--blue-300);
  cursor: pointer;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  font-size: var(--size-500);
  padding: 16px 32px;
text-transform: lowercase;}
a.button:hover {
  border: 4px solid var(--blue-200);
  color: var(--blue-200);
  background: none;
  /* opacity: 90%; */
}
a.button-icon {
  display: flex;
  justify-content: center;
  gap: 16px;
  max-width: 200px;
}
:focus {
  outline: 2px dashed var(--yellow-200);
  outline-offset: .25rem;
}
.container {
  max-width: 1332px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}
section {
  padding-top: var(--size-600);
  padding-bottom: var(--size-600);
}
ul.ul-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.ul-reset li {padding: 0;}
time {
  color: var(--grey-800);
  font-size: var(--size-300);
}

.bg-dark {
  background-color: var(--brown-400);
  color: var(--white);
}
.bg-medium {
  background-color: var(--tan-100);
}

img {
  border-radius: var(--size-600);
}

/* nav */
nav {position: relative;}
nav ul {
  display: flex;
  gap: var(--size-400);
}
nav::after {
  content: "";
  background: var(--gradient);
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
}
nav a {
  color: var(--brown-400);
  border: none;
  box-shadow: none;
  text-transform: lowercase;
}
nav a:hover {
  background: none;
  border-bottom: 1px solid var(--tan-200);
  box-shadow: var(--tan-200) 0 -2px 0 0 inset;
}

/* footer */
footer {
  padding-top: var(--size-400);
  padding-bottom: var(--size-400);
}

/* above mobile */
@media screen and (min-width: 500px) {
  html, body {
    font-size: 112.5%;
  } /*18px*/
  section {
    padding-top: var(--size-1000);
    padding-bottom: var(--size-1000);
  }
}